.locations {
  position: relative;
  margin-top: 100px;
  @media screen and (max-width: 992px) {
    padding-top: 0;
  }

  h2 {
    margin-bottom: 40px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 55% 45%;
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
  }

  &__wrap-map {
    position: relative;
    border-radius: 0px 60px 0px 0px;
    background: #e1f0f4;
    overflow: hidden;

    @media screen and (max-width: 1000px) {
      border-radius: 0;
    }

    img {
      border-radius: 0 60px 0 0;
      @media screen and (max-width: 1000px) {
        border-radius: 0;
      }
    }
  }

  &__wrap-map_markers {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    .marker1 {
      position: absolute;
      // left: 139px;
      top: 165px;
      right: 507px;
    }

    .marker2 {
      position: absolute;
      // left: 470px;
      right: 207px;
      top: 111px;
    }

    .marker3 {
      position: absolute;
      // left: 659px;
      right: 36px;
      top: 207px;
    }
  }

  &__wrap-map-template {
    position: absolute;
    max-width: 723px;
    width: 100%;
    top: 150px;
    right: 0;
    transform: scale(1.4);
  }

  &__wrap-map-template.visible {
    animation: locationMap 1s ease-in-out forwards;
  }

  @media screen and (max-width: 1470px) {
    &__wrap-map-scale {
      transform: scale(0.9) translateX(50px);
      min-height: 700px;
    }

    &__wrap-map_markers {
      right: 0%;
      width: 120%;
      left: unset;
    }

    &__wrap-map-template {
      width: unset;
    }
  }

  @media screen and (max-width: 1315px) {
    &__wrap-map-scale {
      transform: scale(0.8) translateX(90px);
    }

    &__wrap-map_markers {
      width: 140%;
    }
  }

  &__wrap-content {
    position: relative;
    padding: 0 40px 45px;
    color: #fff;

    h3 {
      margin: -50px 0 50px;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      @media screen and (max-width: 1200px) {
        margin: 27px 0 50px;
        font-size: 20px;
      }
    }

    h4 {
      margin-bottom: 20px;
      font-size: 20px;
    }

    p {
      line-height: 28px;
      font-weight: 400;
      max-width: 430px;
      margin-bottom: 27px;
      @media screen and (max-width: 1200px) {
        font-size: 15px;
        &.bold {
          font-size: 15px;
        }
      }
      &.bold {
        font-weight: 700;
        position: relative;
        &::before {
          content: "";
          display: block;
          height: 1px;
          width: 193px;
          background: #fff;
          position: absolute;
          left: 0;
          top: -14px;
        }
      }

      span {
        font-weight: 700;
      }
    }
  }

  &__wrap-map-item-mobile {
    display: none;
  }

  @media screen and (max-width: 1000px) {
    &__wrap-map {
      position: relative;
      background: none;

      &::before {
        content: "";
        background: #e1f0f4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
      }

      &.visible::before {
        animation: slideInLeftLocation 1s ease-in-out forwards;
      }
    }

    &__wrap-map-scale {
      transform: scale(1);
      min-height: unset;
    }

    &__wrap-map-item {
      display: none;
    }
    &__wrap-content {
      @media screen and (max-width: 1000px) {
        h3,
        h4 {
          transform: translateX(-30vw);
        }

        h3.visible,
        h4.visible {
          animation: slideInRight 1s ease-in-out forwards;
        }
      }
    }

    &__wrap-map-item-mobile {
      display: block;
      max-width: 90%;
      width: 100%;
      height: 100%;
      margin: 40px auto;
      padding-bottom: 10px;
    }
  }

  &__wrap-content-lists {
    margin-bottom: 30px;
    max-width: 360px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
      margin-bottom: 25px;
    }

    ul {
      li {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 31px;
        margin-bottom: 5px;
      }
    }
  }

  &__wrap-content_bg {
    display: block;
    position: absolute;
    left: -122px;
    top: -80px;

    width: 140%;
    height: 111.2%;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background: #0070c1;
    }

    &.visible::before {
      animation: slideTop 1s ease-in-out forwards;
    }

    @media screen and (max-width: 1000px) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
