.main-screen {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/main-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: backgroundZoomUp 3s ease-in forwards;
    height: 100%;
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-image: url(../images/main-bottom.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    // background-position: 14% 100%;
    // transform: scale(1.3);

    animation: backgroundZoomDown 3s ease-in forwards;
    height: 100%;
    width: 100%;
  }

  &__relative {
    position: relative;
    z-index: 1;
  }

  min-height: 100vh;
  @include flex-middle;
  text-align: center;
  &__wrap {
    color: $white;
    h1 {
      max-width: 1076px;
      width: 100%;
      min-height: 78px;
    }
    p {
      font-size: 24px;
      margin: 0 auto 50px;
      width: 100%;
      max-width: 718px;
      min-height: 43px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
  &__btn {
    display: block;
    max-width: 208px;
    width: 100%;
    min-height: 40px;
    margin: 0 auto;
    color: $white;
    margin-bottom: 111px;
  }
  .scroll {
    position: relative;
    color: $white;
    font-size: 16px;
    .circles {
      display: block;
      position: relative;
      width: 100%;
      max-width: 104px;
      min-height: 104px;
      margin: 0 auto;

      span {
        display: block;
        transition: all 0.5s ease;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      span.cirle1 {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        background: rgba(#fff, 0.18);
        animation: scrollAnim1 6s ease forwards infinite;
      }
      span.cirle2 {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background: rgba(#fff, 0.32);
        animation: scrollAnim2 6s ease forwards infinite;
      }
      span.cirle3 {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(#fff, 0.42);
        border: 1px solid $blue;
        animation: scrollAnim3 6s ease forwards infinite;
      }
    }

    svg {
      position: absolute;
      top: 80px;
      left: 17px;
    }
  }
}
