@keyframes moveTextLeft {
  0% {
    left: 50%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: -50%;
  }
}

@keyframes moveTextRight {
  0% {
    right: 50%;
  }
  50% {
    right: 0%;
  }
  100% {
    right: -50%;
  }
}