@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins-Bold.woff2) format("woff2"), url(../fonts/Poppins-Bold.woff) format("woff");
	font-weight: 700;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins-Light.woff2) format("woff2"), url(../fonts/Poppins-Light.woff) format("woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: Poppins-LightItalic;
	src: url(../fonts/Poppins-LightItalic.woff2) format("woff2"), url(../fonts/Poppins-LightItalic.woff) format("woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins-Medium.woff2) format("woff2"), url(../fonts/Poppins-Medium.woff) format("woff");
	font-weight: 500;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins-SemiBold.woff2) format("woff2"), url(../fonts/Poppins-SemiBold.woff) format("woff");
	font-weight: 600;
	font-display: swap;
	font-style: normal
}