* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	color: $black;
	font: 400 18px/1.5 $font, sans-serif;
	letter-spacing: 0.02em;

	&.openMenu {
		overflow: hidden;
	}

	@media screen and (max-width: 1200px) {
		font-size: 16px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 0;
}

h1 {
	font-size: 23px;
}

p,
ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

a {
	color: $black;
}

a,
a:active,
a:hover {
	outline: none;
	text-decoration: none;
	transition: 0.5s;
}

@media (min-width: 576px) {
	.container {
		max-width: 890px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1200px;
	}
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
	outline: none;
}

textarea {
	resize: none;

	&:focus {
		border: 1px solid green;
	}

	&:focus-visible {
		border: 1px solid green;
	}
}

input,
button {
	&:focus {
		border: 1px solid green;
		box-shadow: none;
	}

	&:focus-visible {
		border: 1px solid green;
	}
}

button {
	cursor: pointer;
	transition: all 0.3s ease;
}

p {
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
}

.barsContainer {
	position: relative;
	display: none;
	@media screen and (max-width: 992px) {
		display: block;
	}
}

.bars {
	width: 42px;
	height: 42px;
	z-index: 9999;
	cursor: pointer;
	position: absolute;
	transform: rotate(0deg);

	span {
		background-color: #fff;
		width: 100%;
		height: 2px;
		border-radius: 3px;
		display: block;
		position: absolute;
		left: 0;
		content: '';
		background: #fff;
		transition: 0.5s ease-in-out;

		&:first-child {
			top: 14px;
			transform-origin: left center;
		}

		&:nth-child(2) {
			top: 21px;
			transform-origin: left center;
		}

		&:last-child {
			top: 28px;
			transform-origin: left center;
		}
	}

	&.open {
		span {
			&:first-child {
				transform: rotate(45deg);
				top: -3px;
				left: 6px;
				background: $white;
			}

			&:nth-child(2) {
				width: 0%;
				opacity: 0;
			}

			&:last-child {
				transform: rotate(-45deg);
				top: 26px;
				left: 6px;
				width: 100%;
				background: $white;
			}
		}
	}

	@media screen and (max-width: 992px) {
		color: $white;
		margin-top: -20px;
		right: 0;
	}
}

.nav-overlay {
	position: absolute;
	top: -8px;
	left: -17px;
	z-index: -1;
	background: $blue;
	border-radius: 50%;
	transition: 0.5s;
	transform: scale3d(0, 0, 0);
	z-index: 99;
	height: 100%;
	width: 100%;

	&.open {
		transform: scale3d(1, 1, 1);
	}
}

.btn {
	display: block;
	color: $white;
	leading-trim: both;
	text-edge: cap;
	font-family: $font-exo;
	font-size: 20px;
	font-weight: 600;
	background: $blue;
	border-radius: 0px 12px;
	max-width: 208px;
	padding: 5px 20px;
	margin: 0 auto;
	text-align: center;
	transition: all .3s ease;
	&.scroll {
		font-family: $font;
		background: transparent;
		font-weight: 400;
		margin-top: 165px;
	}
	&:hover {
		background: rgba($blue, .8);
		border-radius: 0;
	}
}

.btn-white {
	display: block;
	border-radius: 0px 12px;
	background: $white;
	color: $blue;
	font-family: $font-exo;
	font-size: 18px;
	font-weight: 600;
	padding: 10px 20px;
	border: transparent;
	min-width: 185px;
	transition: margin-left .3s ease;
	&:hover {
		margin-left: -5px;
	}
}

h2 {
	position: relative;
	span.span-num {
		position: absolute;
		left: -22px;
		bottom: -22px;
		line-height: 100%;
		color: #F2F2F2;
		font-family: $font-exo;
		font-size: 190px;
		font-weight: 800;
		z-index: -1;
		@media screen and (max-width: 992px){
			font-size: 128px;
			left: 0;
			bottom: -27px;
		}
	}
}

//tabs
.content {
	display: none;
	transition: all .3s ease;
}
.content.active {
	display: block;
}

//fon
.blue-fon {
	background: url("../images/bluefon.png");
	background-size: cover;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}