//font
$font: 'Poppins';
$fontItalic: Poppins-LightItalic;

// colours
$white: #ffffff;
$white2: #FCFCFC;
$white3: #F5F5F5;
$grey: #A7A7A7;
$coffee: #FFD8B5;
$orange: #FD9C45;
$orange2: #FFF0E3;
$black: #000000;
$green: #149c73;
$gradLinear: linear-gradient(91.34deg, #F96D1F 3.33%, #FD9C45 94.45%);
$gradLinear2: linear-gradient(91.34deg, #f9461f 3.33%, #fd9c45 94.45%);
$grad-radial: radial-gradient(circle,#ffd8b5 10%,#fff 16%,transparent 20%);
$grad-radial2: radial-gradient(circle,#ffd8b5 10%,transparent 16%,transparent 20%);
$grad-radialGrey: radial-gradient(circle,#e5e5e5 12%,#fff 14%,#fff 31%);
$grad-radialGrey2: radial-gradient(circle, #A7A7A7 6%, #fff 16%, #fff 20%);